<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.company.mapper.DeptMapper">
  	<select id="getAllDeptList" resultType="com.company.dto.Dept">
 		SELECT * FROM dept
 	</select> 
 	
 	<select id="getDeptByDeptno" parameterType="_int" resultType="com.company.dto.Dept">
 		SELECT * FROM dept WHERE deptno = #{deptno}
 	</select>
 	<!-- insert의 리턴값은 기본적으로 int라서 resultType 못씀 -->
	<insert id="insertDept" parameterType="com.company.dto.Dept">
 		INSERT INTO dept
		VALUES (#{deptno}, #{dname}, #{loc})
 	</insert> 
 	
	<update id="updateDnameAndLoc" parameterType="com.company.dto.Dept">
 		UPDATE dept SET dname= #{dname}, loc=#{loc} WHERE deptno = #{deptno} 
 	</update> 
 	
 	<delete id="deleteDeptByDeptno" parameterType="_int">
 		DELETE FROM dept WHERE deptno = #{deptno} 
 	</delete> 
 	
 	<!-- getDynamicDeptno -->
 	<select id="getDynamicDeptno" parameterType="hashmap" resultType="com.company.dto.Dept">
 		SELECT deptno, dname, loc FROM dept
 		<if test="deptno != null">
 			WHERE deptno = #{deptno}
 		</if>
 	</select>
 	
 	<select id="getDynamicChoose" parameterType="com.company.dto.Dept" resultType="com.company.dto.Dept">
 		SELECT * FROM dept
 		<choose>
 			<when test="dname != null">
 			WHERE dname = #{dname}
 			</when>
 			<when test="loc != null">
 			WHERE loc = #{loc}
 			</when>
 		</choose>
 	</select>
 	
 	
 		<!-- getDynamicWhereTrim -->
 	<select id="getDynamicWhereTrim"
 			parameterType="hashmap"
 			resultType="com.company.dto.Dept">
 		SELECT deptno, dname, loc
 		FROM dept
 		<trim prefix="WHERE" prefixOverrides="OR |AND">
 			<if test="dname != null">
 				dname = #{dname}
 			</if>
 			<if test="loc != null">
 				OR loc = #{loc}
 			</if>
 		</trim>
 	</select>	
 	
 	<update id="updateDynamicSet" parameterType="hashmap">
 		UPDATE DEPT
 		<!-- <set>
 			<if test="dname != null">
 				dname = #{dname}
 			</if>
			<if test="loc != null">
 				, loc = #{loc}
 			</if>
 		</set> -->
 		<trim prefix="SET" prefixOverrides=",">
 			<if test="dname != null">
 				dname = #{dname}
 			</if>
 			<if test="loc != null">
 				, loc = #{loc}
 			</if>
 		</trim>
 		WHERE deptno = #{deptno}
 	</update>
 	
 	<!-- getDynamicForeachDeptno -->
 	<!-- SELECT * FROM dept WHERE deptno IN (10, 20, 30) -->
 	<select id="getDynamicForeachDeptno" parameterType="list" resultType="com.company.dto.Dept">
 		SELECT * FROM dept
 		<where>
 		<!-- collection은 받아온 리스트 변수명이 아님. list타입을 적어주면 됨. -->
	 		<foreach item="deptno" collection="list" open="deptno IN (" separator="," close=")">
	 		#{deptno}
	 		</foreach>
 		</where>
 	</select>
 	<!-- INSERT INTO dept (deptno, dname, loc) VALUES (deptno, dname, loc),
			 											(deptno, dname, loc) -->
 	<insert id="insertDynamicForeachDeptList" parameterType="list">
 		insert into dept (deptno, dname, loc) VALUES
 		<foreach collection="list" item="dept" separator=",">
 			(#{dept.deptno}, #{dept.dname}, #{dept.loc})
 		</foreach>
 	</insert>
 </mapper>